.about {
  padding-top: 100px;
}
.wrapContent {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.imageWrap {
  flex: 1;
  border-radius: 7px;
  overflow: hidden;
}
.imageWrap img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.content {
  flex: 1;
}
.subtitle {
}
