.inner {
  background-color: #2d2d44;
  color: var(--text);
  height: 100dvh;
  gap: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.text,
.texthide {
  width: 200px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  padding: 7px 14px;
  color: var(--text);
  opacity: 1;
  visibility: visible;
  transition: all 1s;
}
.texthideleft {
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  transform: translateX(-20px);
}
.texthideright {
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  transform: translateX(20px);
}
.bkock {
  height: 100dvh;
  background-color: var(--text);
}
.scroll {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3b7b7;
  position: relative;
}

/* Анимируемый элемент */
.box {
  width: 100px;
  height: 100px;
  background: linear-gradient(45deg, #ff6b6b, #4ecdc4);
  border-radius: 12px;
  position: absolute;
  bottom: 0;

  animation: moveBox linear forwards;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}

@keyframes moveBox {
  from {
    opacity: 0;
  }
  to {
    transform: translateX(100px);
    opacity: 1;
  }
}
