:root {
  /* Основные цвета */
  --background: #2d2d44;
  --text: #ffffff;
  --primary: #2563eb;
  --primary-hover: #1d4ed8;
  --secondary: #f1f5f97e;
  --secondary-hover: #e2e8f0;

  --accent: #d4af37;

  --border: #e2e8f0;
  --border-dark: #cbd5e1;

  --success: #10b981;
  --warning: #f59e0b;
  --error: #ef4444;
  --info: #3b82f6;

  /* Дополнительные поверхности */
  --card-bg: #ffffff;
  --card-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  /* Интерактивные элементы */
  --button-text: #ffffff;
  --input-bg: #ffffff;
  --input-border: #d1d5db;
  --placeholder: #9ca3af;

  /* //текст  */
  --text32to16: clamp(1rem, 0.75rem + 1.25vw, 2rem);
  --text15to12: clamp(0.75rem, 0.7031rem + 0.2344vw, 0.9375rem);

  /* Особые элементы */
  --link: #3b82f6;
  --link-hover: #2563eb;

  --focus-outline: 2px solid #3b82f6; /* Синее выделение (можно использовать ваш --primary) */
  --focus-outline-offset: 2px;
  --transition-theme: background-color 0.5s ease, color 1s ease;
}
[data-theme="dark"] {
  /* Основные цвета */
  --background: #1a1a1a;
  --text: #f8fafc;
  --primary: #3b82f6;
  --primary-hover: #2563eb;
  --secondary: #2d3748;
  --secondary-hover: #4a5568;

  /* Границы и разделители */
  --border: #4a5568;
  --border-dark: #718096;

  /* Состояния */
  --success: #10b981;
  --warning: #f59e0b;
  --error: #ef4444;
  --info: #3b82f6;

  /* Дополнительные поверхности */
  --card-bg: #2d2d2d;
  --card-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

  /* Интерактивные элементы */
  --button-text: #ffffff;
  --input-bg: #2d3748;
  --input-border: #4a5568;
  --placeholder: #a0aec0;

  /* Особые элементы */
  --link: #93c5fd;
  --link-hover: #60a5fa;

  --focus-outline: 2px solid #93c5fd; /* Более светлый синий для темной темы */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button:focus-visible,
a:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible,
[tabindex]:focus-visible {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}
body {
  background-color: var(--background);
  color: var(--text);
  transition: var(--transition-theme);
}
.container {
  max-width: 800px;
  padding: 0 5px;
  margin: 0 auto;
}
p {
  font-size: var(--text15to12);
}
