.section {
  margin-top: -1px;
  padding-top: 80px;
  background: #f9f4ff;
  text-align: center;
}


.subtitle {
  font-size: 1.2rem;
  color: var(--secondary-text);
  max-width: 700px;
  margin: 0 auto 40px;
}

.formats {
  color: var(--secondary-text);
  background: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.formats h3 {
  margin-bottom: 14px;
}

.formats ul {
  text-align: left;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formats li {
  margin: 7px 0;
  font-size: 1.1rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.gallery img,
.gallery video {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.ctaButton {
  background: #ff6b6b;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.ctaButton:hover {
  background: #ff5252;
  transform: translateY(-3px);
}