.steps {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.step {
  background: white;
  color: var(--secondary-text);
  border-radius: 10px;
  padding: 25px;
  width: 240px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
}

.stepIcon {
  background: #6a3093;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
  font-weight: bold;
}

@media (hover: hover) {
  .step:hover {
    box-shadow: 0 5px 15px rgba(46, 44, 44, 0.404);
  }
}
