/* Основной контейнер */
.stepsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

/* Строки для десктопов */
.stepsRow {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Общие стили для шагов */
.step {
  background: white;
  color: var(--secondary-text);
  border-radius: 10px;
  padding: 25px;
  width: 240px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s, opacity 0.6s ease, transform 0.6s ease;
  opacity: 0;
  transform: translateY(20px);
}

.stepIcon {
  background: #6a3093;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
  font-weight: bold;
}

/* Анимация появления */
.animateIn,
.animateIn .step {
  opacity: 1;
  transform: translateY(0);
}

/* Ховер-эффект */
@media (hover: hover) {
  .step:hover {
    box-shadow: 0 5px 15px rgba(46, 44, 44, 0.404);
  }
}

/* Мобильная версия */
@media (max-width: 768px) {
  .stepsRow {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .step {
    width: 100%;
    max-width: 300px;
    margin-bottom: 0;
  }
}
